h1 {
  font-size: 20px;
  font-style: normal;
  color: lightblue;
  background-color: lightpink;
}

p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-display: 48px;
}
